annotated-types==0.7.0
asttokens==3.0.0
bitarray==3.6.1
cachetools==6.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
ckzg==2.1.1
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
cytoolz==1.0.1
debugpy==1.8.16
decorator==5.2.1
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.0
eth_abi==5.2.0
executing==2.2.0
fonttools==4.59.1
hexbytes==1.3.1
idna==3.10
iniconfig==2.1.0
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.9
matplotlib==3.10.5
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==2.3.2
packaging==25.0
parsimonious==0.10.0
parso==0.8.4
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
poly_eip712_structs==0.0.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py_clob_client==0.24.0
py_order_utils==0.3.2
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pyparsing==3.2.3
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pyzmq==27.0.1
regex==2025.7.34
requests==2.32.5
rlp==4.1.0
scipy==1.16.1
six==1.17.0
stack-data==0.6.3
toolz==1.0.0
tornado==6.5.2
tqdm==4.67.1
-e git+https://github.com/Schubert-Tom/polymarket-trading-system.git@2b00a98599d0718dc4b8ab0d04db0ed033e35be5#egg=tradesystem&subdirectory=tradesystem
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
wcwidth==0.2.13
